*{
     margin:0;
     padding:0;
     box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
:root{
    --bg-primary-color:#333131;
     --fill-col:rgb(148, 214, 132);
     --food:rgb(174, 61, 61);
     --bg-modal:rgba(62, 62, 62, 0.57);
    --text-primary-color:rgb(182, 178, 178);
    --spacing-xs:4x;
    --spacing-s:8px;
    --spacing-m:16px;
    --spacing-l:24px;
    --spacing-xl:32px;
    --spacing-xxl:40px;
    --border-b-c:rgb(253, 241, 241);
    --border-r-xs:1px;
    --border-r-s:4px;
    --border-r-m:8px;
    --border-r-l:16px;
    --border-r-xl:20px;
    --font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

}

html{
    background-color:var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section{
    width:100%;
    height:100%;
}
section{
    height:100%;
    padding:var(--spacing-xxl);
    justify-content:space-around;
    align-items:center;
     display:flex;
     flex-direction:column;
     /* gap:var(--spacing-l); */
}
.infos{
    width:100%;
    display:flex;
    justify-content:space-around;
     gap:var(--spacing-xl);
    
}
.info{
    padding:var(--spacing-s);
    border:1px solid var(--border-b-c);
    border-radius:var(--border-r-m);
}
  
 .board{
    width:100%; 
    
    height:85%;
    aspect-ratio:1 / 1;
    border:1px solid var(--border-b-c);
   display:grid;
   grid-template-columns:repeat(auto-fill,minmax(40px,1fr));
   grid-template-rows:repeat(auto-fill,minmax(40px,1fr));

 }

 .block{
    /* width:30px;
    height:30px; */
   border:1px solid var(--border-b-c);
   border-radius:40%;
   /* border-color:rgba(86, 86, 86, 0.593); */
    border-color:transparent;
    
   

 }
 .fill{
  background-color:var(--fill-col);
 }
 .food{
  background-color:var(--food);
 }

 .modal{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    background-color:var(--bg-modal);
    backdrop-filter:blur(4px);
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:var(--font);

 }
 .modal .startgame, .gameover{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:var(--spacing-m);
 }
 .gameover{
    display:none;
 }

 .btn{
    padding:var(--spacing-s) var(--spacing-m);
   border:none;
   border-radius:var(--border-r-m);
   cursor:pointer;
   transition:all 0.3s ease;

 }
 .btn:hover{
    transform:scale(1.1);
 }
  